[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/einars/js-beautify.git
[submodule "vim/bundle/vim-reload"]
	path = vim/bundle/vim-reload
	url = https://github.com/xolox/vim-reload.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/vim-neopro"]
	path = vim/bundle/vim-neopro
	url = git@github.com:bawigga/vim-neopro.git
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
