[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-reload"]
	path = vim/bundle/vim-reload
	url = https://github.com/xolox/vim-reload.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/vim-neopro"]
	path = vim/bundle/vim-neopro
	url = git@github.com:bawigga/vim-neopro.git
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-preview"]
	path = vim/bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "vim/bundle/vim-nosecompiler"]
	path = vim/bundle/vim-nosecompiler
	url = https://github.com/olethanh/Vim-nosecompiler.git
[submodule "vim/bundle/TaskList"]
	path = vim/bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-jasmine"]
	path = vim/bundle/vim-jasmine
	url = https://github.com/thomd/vim-jasmine.git
[submodule "vim/bundle/vim-colors-wombat"]
	path = vim/bundle/vim-colors-wombat
	url = https://github.com/jeffreyiacono/vim-colors-wombat.git
[submodule "vim/bundle/vim-colors-advantage"]
	path = vim/bundle/vim-colors-advantage
	url = https://github.com/vim-scripts/advantage.git
[submodule "vim/bundle/vim-colors-mustang"]
	path = vim/bundle/vim-colors-mustang
	url = https://github.com/cschlueter/vim-mustang
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/statianzo/vim-jade.git
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/vim-io"]
	path = vim/bundle/vim-io
	url = https://github.com/vim-scripts/Io-programming-language-syntax.git
[submodule "vim/bundle/vim-github-theme"]
	path = vim/bundle/vim-github-theme
	url = https://github.com/ricardovaleriano/vim-github-theme.git
[submodule "vim/bundle/vim-colors-jellybeans"]
	path = vim/bundle/vim-colors-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/vim-svndiff"]
	path = vim/bundle/vim-svndiff
	url = https://github.com/laurentb/vim-svndiff.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/piv"]
	path = vim/bundle/piv
	url = https://github.com/spf13/PIV.git
[submodule "vim/bundle/DBGPavim"]
	path = vim/bundle/DBGPavim
	url = https://github.com/brookhong/DBGPavim.git
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = https://github.com/guileen/vim-node.git
[submodule "vim/bundle/vim-nodejs-complete"]
	path = vim/bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vim-base16"]
	path = vim/bundle/vim-base16
	url = https://github.com/chriskempson/base16-vim
